@using _201224_LinaButikPanel.Models
@model List<Favorites>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Sepet</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Sepet</li>
</ol>
<hr />

<div class="container-fluid p-0">
    <div class="row">
        <div class="col">
            <table class="table mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>Müşteri adı soyadı</th>
                        <th>Ürün kodu</th>
                        <th>Ürün adı</th>
                        <th>Marka</th>
                        <th>Birim fiyat</th>
                        <th>Stok</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Customer.NameSurname</td>
                        <td>@item.Product.ProductCode</td>
                        <td>@item.Product.Name</td>
                        <td>@item.Product.Brand.Brand</td>
                        <td>@item.Product.Price TL</td>
                        <td>@item.Product.Stock</td>
                        <td>@Html.ActionLink("Detay", "ProductDetail", "Sale", new { pCode = item.Product.ProductCode }, new { @class = "btn btn-info  " })</td>
                    </tr>
                }
            </table>
            <button type="submit" class="btn btn-warning">Sipariş ver</button>
        </div>
    </div>
</div>
