@using _201224_LinaButikPanel.Models
@model List<Basket>
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


    <div class="container-fluid p-0">
        <div class="row">
            <div class="col">
                <table class="table mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th>Müşteri adı soyadı</th>
                            <th>Ürün modeli</th>
                            <th>Ürün adı</th>
                            <th>Marka</th>
                            <th>Renk</th>
                            <th>Beden</th>
                            <th>Adet</th>
                            <th>Birim fiyat</th>
                            <th>Toplam</th>
                            <th>Stok</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Customer.NameSurname</td>
                            <td>@item.Product.ProductCode</td>
                            <td>@item.Product.Name</td>
                            <td>@item.Product.Brand.Brand</td>
                            <td>@item.Product.Color.Property</td>
                            <td>@item.Product.Size.Property</td>
                            <td>@item.Piece</td>
                            <td>@item.Product.Price TL</td>
                            <td>@(item.Product.Price * item.Piece) TL</td>
                            <td>@item.Product.Stock</td>
                        </tr>
                    }
                </table>
                <a class="btn btn-warning" href="/Sale/Checkout">Sipariş ver</a>
            </div>
        </div>
    </div>