@using _201224_LinaButikPanel.Models
@using PagedList
@using PagedList.Mvc
@{Context asd = new Context(); }
@model PagedList.IPagedList<Products>
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .page-link {
        padding: 0 !important;
    }
        .page-link a {
            display:block;
            padding: 0.5rem 0.75rem;
            text-decoration:none;
        }
</style>

<hr />

<div class="container-fluid p-0">
    <div class="row w-100 m-0">
        <div class="col-2 p-0">
            <div class="row-cols-1">
                <div class="col-12">
                    <div class="row">
                        <h5 class="pl-0">Kategoriler</h5>
                    </div>
                    <div class="row">
                        @Html.Action("CategoryList", "ProductProperty")
                    </div>
                </div>
            </div>
            <br />
            <div class="row-cols-1">
                <div class="col">
                    <div class="row">
                        <h5 class="pl-0">Renkler</h5>
                    </div>
                    <div class="row">
                        @Html.Action("ColorList", "ProductProperty")
                    </div>
                </div>
            </div>
            <br />
            <div class="row-cols-1">
                <div class="col">
                    <div class="row">
                        <h5 class="pl-0">Bedenler</h5>
                    </div>
                    <div class="row">
                        @Html.Action("SizeList", "ProductProperty")
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 p-0">
            <div class="row w-100 m-0">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item active"><a href="/" style="text-decoration:none;">Anasayfa</a></li>
                    @if (@ViewBag.CategoryName == null)
                    {
                        <li class="breadcrumb-item active">Ürünler</li>
                    }
                    else
                    {
                        <li class="breadcrumb-item active"><a href="/Sale/UrunList" style="text-decoration:none;">Ürünler</a></li>
                        <li class="breadcrumb-item ">@ViewBag.CategoryName</li>
                    }

                </ol>
            </div>
            <div class="row w-100 m-0">
                <div class="card-deck justify-content-between p-0">
                    @foreach (var item in Model)
                    {
                        <div class="mb-5">
                            <div class="card shadow mr-0" style="width: 22rem; height: 38rem">
                                <div style="height: 67%;">
                                    <img class="card-img-top" src="@asd.ProductImage.Where(x => x.ProductID == item.Id).Select(x => x.URL).FirstOrDefault().ToString()" alt="Card image cap" style="object-fit:cover; position:relative; height: 100%;">
                                </div>
                                <div class="card-body bg-light">
                                    <h4 class="card-title">@item.Name</h4>
                                    <h6 class="card-subtitle text-muted">@item.Brand.Brand</h6>
                                    <hr />
                                    <h4 class="card-title">@item.Price TL</h4>
                                    @Html.ActionLink("Sepete ekle", "ProductDetail", "Sale", new { pCode = item.ProductCode }, new { @class = "btn btn-warning shadow " })
                                    @Html.ActionLink("Detay", "ProductDetail", "Sale", new { pCode = item.ProductCode }, new { @class = "btn btn-info  " })

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-2 mb-2 pr-0">
                    @Html.PagedListPager((IPagedList)Model, p => Url.Action("/", new { p }), new PagedListRenderOptions
               {
                   LiElementClasses = new List<string>
                   { "page-link" }
               })
                </div>
            </div>
        </div>
    </div>
</div>